<h1>Seats</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each seats.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the seatID, section, row , and seat number}}
        {{#each seats}}
        <tr>
            <td>{{this.seatID}}</td>
            <td>{{this.section}}</td>
            <td>{{this.seatRow}}</td>
            <td>{{this.seatNumber}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>