<h1>Customers</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            <th>Customer ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the customerID, firstName, lastName, email, phone}}
        {{#each customers}}
        <tr>
            <td>{{this.customerID}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! UPDATE form }}
<h2>Update a Customer</h2>
<form class='cuForm' id='update_customer_form'>
    <label for='update_customer_id'>Customer to Update: </label>
    <select name='update_customer_id' id='update_customer_id' required>
        <option value='' disabled selected hidden>Select a Customer</option>
        {{#each customers}}
        <option value='{{this.customerID}}' required>
            {{this.customerID}}
            -
            {{this.firstName}}
            {{this.lastName}}
        </option>
        {{/each}}
    </select>

    <label for='update_customer_email'>Email: </label>
    <input type='email' name='update_customer_email' id='update_customer_email'/>

       <label for='update_customer_phone'>Phone: </label>
    <input type='tel' name='update_customer_phone' id='update_customer_phone'/>

    <input type='submit' />
</form>

<script>

    // submit for updating a customer
    document.getElementById('update_customer_form').addEventListener('submit', async function(event) {
        event.preventDefault();

        console.log('Attempting to update customer');

        const customerID = document.getElementById('update_customer_id').value;
        const email = document.getElementById('update_customer_email').value;
        const phone = document.getElementById('update_customer_phone').value;

        if (!email) { // email is required
            alert('Email cannot be empty');
            return;
        }

        // Send PUT request to server to update customer
        const response = await fetch('/customers/update', {
            method: 'PUT',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                customerID: customerID,
                email: email,
                phone: phone
            })
        })
        
        if (response.ok) {
            console.log('Customer updated successfully');
            location.reload(); // reload page to see updated customer info
        } else {
            console.log('Error updating customer');
        }
    });

    // Populate email and phone when a customer is selected
    const customersData = {{{json customers}}};
    const customerSelect = document.getElementById('update_customer_id');
    const emailInput = document.getElementById('update_customer_email');
    const phoneInput = document.getElementById('update_customer_phone');
    customerSelect.addEventListener('change', function() {
        const selectedCustomerID = customerSelect.value;
        const selectedCustomer = customersData.find(customer => customer.customerID == selectedCustomerID);
        if (selectedCustomer) {
            emailInput.value = selectedCustomer.email;
            phoneInput.value = selectedCustomer.phone;
        } else {
            emailInput.value = '';
            phoneInput.value = '';
        }
    });
</script>