{{#if errorMessage}}
        <div class="error-banner">{{errorMessage}}</div>
            {{error}}
{{/if}} 
<h1>Match Tickets</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            <th>Ticket ID</th>
            <th>Opponent Name</th>
            <th>Match Date</th>
            <th>Seat Section</th>
            <th>Seat Row</th>
            <th>Seat Number</th>
            <th>Customer Name</th>
            <th>Price</th>
            <th>Order Date</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the tickets information.}}
        {{#each matchTickets}}
        <tr>
            <td>{{this.ticketID}}</td>
            <td>{{this.opponentName}}</td>
            <td>{{this.matchDate}}</td>
            <td>{{this.section}}</td>
            <td>{{this.seatRow}}</td>
            <td>{{this.seatNumber}}</td>
            <td>{{this.customerName}}</td>
            <td>${{this.price}}</td>
            <td>{{this.orderDate}}</td>

             <form id='delete_matchTicket_form' method = 'POST' action='/matchTickets/delete'>
                <input type='hidden' name='deleteID' value='{{this.ticketID}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Update Match Ticket</h2>
<form class='cuForm' id='update_matchTicket_form' method='POST' action='/matchTickets/update'>
    <label for='update_ticket_id'>Ticket to Update: </label>
    <select name='ticketID' id='update_ticket_id' required>
        <option value='' disabled selected hidden>Select Ticket</option>
        {{#each matchTickets}}
        <option value='{{this.ticketID}}' required>
            {{this.ticketID}}
            -
            {{this.opponentName}}
            -
            {{this.customerName}}
        </option>
        {{/each}}
    </select>

    <label for='update_match'>Match: </label>
    <select name='matchID' id='update_match' required>
        <option value='' disabled selected hidden>Select a match</option>
        {{#each matches}}
            <option value='{{this.matchID}}'>
                {{this.opponentName}} - {{this.matchDate}}
            </option>
        {{/each}}
    </select>

    <label for='update_seat'>Seat: </label>
    <select name='seatID' id='update_seat' required>
        <option value='' disabled selected hidden>Select a seat</option>
        {{#each seats}}
            <option value='{{this.seatID}}'>
                {{this.section}} {{this.seatRow}} {{this.seatNumber}}
            </option>
        {{/each}}
    </select>

    <input type='submit' />

</form>

<h2>Create A Match Ticket</h2>
<form class='cuForm' id='create_match_ticket_form' method='POST' action='/matchTickets/create'>

    <label for='select_match'>Match: </label>
    <select name='matchID' id='select_match' required>
        <option value='' disabled selected hidden>Select a match</option>
        {{#each matches}}
            <option value='{{this.matchID}}'>
                {{this.opponentName}} - {{this.matchDate}}
            </option>
        {{/each}}
    </select>

    <label for='select_seat'>Seat: </label>
    <select name='seatID' id='select_seat' required>
        <option value='' disabled selected hidden>Select a seat</option>
        {{#each seats}}
            <option value='{{this.seatID}}'>
                {{this.section}} {{this.seatRow}} {{this.seatNumber}}
            </option>
        {{/each}}
    </select>

        <label for='customer_name'>Customer: </label>
    <select name='customerID' id='select_customer' required>
        <option value='' disabled selected hidden>Select Customer</option>
        {{#each customers}}
        <option value='{{this.customerID}}' required>
            {{this.firstName}} {{this.lastName}}
        </option>
        {{/each}}
    </select>

    <input type='submit' />
</form>