<h1>Orders</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            <th>Order ID</th>
            <th>Customer Name</th>
            <th>Order Date</th>
            <th>Payment Total</th>
            <th>Payment Satus</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the orderId, customer name, order date, orders total, and payment status}}
        {{#each orders}}
        <tr>
            <td>{{this.orderID}}</td>
            <td>{{this.customerName}}</td>
            <td>{{this.orderDate}}</td>
            <td>${{this.total}}</td>
            <td>{{this.paymentStatus}}</td>

             <form id='delete_order_form'>
                <input type='hidden' name='delete_order_id' value='{{this.orderID}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>